@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
  overflow-x: hidden;
  font-family: 'lato', sans-serif;
  color: #2d2d2d;
}

/*-- Navigation styling --*/

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(255, 255, 250, 0.2)!important;
}

.navbar-brand img {
  height: 4rem;
}

.navbar-nav li {
  padding-right: .7rem;
}
.navbar-light .navbar-nav .nav-link {
  color: black;
  padding-top: .8rem;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
  color: #C8FB00;
}

/*--landing page--*/
.home-inner {
  background-image: url(https://images.pexels.com/photos/604898/pexels-photo-604898.jpeg?cs=srgb&dl=coffee-computer-cup-604898.jpg&fm=jpg);
}
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: black;
  text-transform: uppercase;
}
.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem white;
  padding-bottom: 1rem;
}
.caption h3 {
  font-size: 2rem;
  font-weight: 700;
  text-shadow: .1rem .1rem .5rem white;
  padding-bottom: 1.6rem;
}
.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
}
img {
  height: 34rem;
}
